body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f6f8;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#111;
color:white;
}

header a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/1.png");
background-size:cover;
color:white;
text-align:center;
}

.hero h2{
font-size:48px;
}

.hero button{
padding:12px 30px;
font-size:18px;
border:none;
background:#ff9800;
color:white;
border-radius:5px;
cursor:pointer;
}

section{
padding:60px 80px;
text-align:center;
}

.services{
display:flex;
gap:30px;
justify-content:center;
margin-top:30px;
}

.card{
background:white;
padding:30px;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.gallery{
display:flex;
gap:20px;
justify-content:center;
margin-top:30px;
}

.gallery img{
width:300px;
border-radius:10px;
}

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,textarea,select{
padding:12px;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:#ff9800;
border:none;
padding:12px;
color:white;
border-radius:6px;
cursor:pointer;
}

footer{
background:#111;
color:white;
padding:20px;
margin-top:40px;
}